In [5]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [6]:
            myretaildata = pd.read_excel("C:\\Users\\thesh\\Downloads\\archive (1)\\Online Retail.xlsx")
            myretaildata.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

Data preparation

In [7]:
myretaildata['Description'] = myretaildata['Description'].str.strip() #removing space  at the beginning and end of Description
myretaildata.dropna(axis=0, subset = ["InvoiceNo"],inplace= True) #deleting rows with missing Invoice number
myretaildata["InvoiceNo"] = myretaildata["InvoiceNo"].astype("Str") #converting the 'InvoiceNo' column to string type 
myretaildata = myretaildata[~myretaildata["Invoice"].str.contains("c")]  #removing rows where    the invoice contains "c"

TypeError: data type 'Str' not understood

In [ ]:
myretaildata['Description'] = myretaildata['Description'].str.strip() #removing space  at the beginning and end of Description
myretaildata.dropna(axis=0, subset = ["InvoiceNo"],inplace= True) #deleting rows with missing Invoice number
myretaildata["InvoiceNo"] = myretaildata["InvoiceNo"].astype("string") #converting the 'InvoiceNo' column to string type 
myretaildata = myretaildata[~myretaildata["Invoice"].str.contains("c")]  #removing rows where    the invoice contains "c"

NameError: name 'myretaildata' is not defined